* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
  height: 100%;
}

body {
  background-image: linear-gradient(180deg, #1d1d1d, #1e2033);
}

a {
  text-decoration: none;
  color: #ffb9a4;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 10%;
  padding: 10px;
  background: #1d1d1e;
  box-shadow: 0 3px #00000029;
}

.header img {
  border-radius: 50%;
  margin: auto;
  width: 50px;
  height: 50px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  padding: 10px;
  font-size: 1.225em;
  font-weight: bold;
}

.filas {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.filas h3 {
  margin: 10px 0 30px 0;
  color: #ffb9a4;
  font-weight: normal;
}

.filas table {
  margin: auto;
  color: #fff;
  border-collapse: collapse;
  text-align: center;
  font-size: 14px;
}

.filas table tr:nth-child(even) {
  background: #090a15;
}

.filas table tr:nth-child(odd) {
  background: #0b0d1b;
}

.filas td {
  padding: 10px 10px;
}

.foto {
  border: 3px solid #f0673e;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.jogo {
  border-left: 2px solid #1d1d1d;
}

.filas button {
  margin-top: 25px;
  background: #ffb9a4;
  outline: none;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  color: #000;
  font-size: 1em;
  cursor: pointer;
}
